@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

p {
    font-size: 1.10em;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.inicio {
    max-width: 1400px;
    margin: auto;
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(68, 68, 68, 1) 65%, rgba(162, 162, 162, 1) 100%);
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em;
}

header nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 14px;
}

header a:hover {
    color: darkorange;
}

h1,
p {
    padding: 12px 10px;
    color: white;
}

p {
    padding: 5%;
    font-size: 4vw;
}

.banda img {
    width: 98%;
    height: auto;
    margin: 5px auto;
    padding: 10%;
}

body {
    background: rgb(255, 8, 0);
    background: linear-gradient(180deg, rgba(255, 8, 0, 1) 0%, rgba(255, 42, 0, 1) 47%, rgba(255, 102, 0, 1) 100%);
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(68, 68, 68, 1) 65%, rgba(162, 162, 162, 1) 100%);
    color: white;
}

.container-footer footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    grid-area: header;
}

.intro {
    grid-area: intro;
}

.banda {
    grid-area: banda;
}

footer {
    grid-area: footer;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "intro" "banda" "footer";
}

@media(min-width:600px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.30em;
    }
    .container-footer footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container-footer h2 {
        font-size: 1.5em;
        text-align: start;
    }
    h1 {
        font-size: 4.5vw;
    }
    p {
        font-size: 3vw;
    }
}

@media(min-width:768px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px;
    }
    h1 {
        font-size: 2.5vw;
    }
    p {
        font-size: 1.5vw;
    }
}

.song {
    background-image: url(../img/fondo.jpg);
    margin-bottom: -30%;
    background-size: 30%;
}

.canciones h2 {
    color: white;
    text-align: left;
    font-size: 32px;
    margin: 1%;
}

.noticias h2 {
    color: white;
    text-align: left;
    font-size: 30px;
    margin: 2%;
}

.noticias h3 {
    text-align: left;
    font-size: 25px;
    margin: 2%;
}

audio {
    margin: 3%;
    padding: 0%;
}

.historia img {
    width: 98%;
    height: auto;
    margin: 5px auto;
    padding: 10%;
}

.historia h2 {
    color: white;
    text-align: center;
    padding: 25px;
}

.historia h2:hover {
    transform: scale(3);
    transition-duration: 5s;
}

.noticias li {
    padding: 2%;
}

.angeles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conciertos h2 {
    color: white;
    margin: 3%;
    padding-top: 25px;
}

.conciertos a {
    color: white;
    margin: 30%;
    text-decoration: underline;
    font-size: 25px;
}

.indicaciones {
    font-size: 24px;
}

.canciones {
    display: grid;
    grid-template: repeat(10, 100px) / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 40px;
}