* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgba(255, 8, 0, 1) 0%, rgba(255, 42, 0, 1) 47%, rgba(255, 102, 0, 1) 100%);
    h1 {
        font-size: 2em;
        text-align: center;
    }
    p {
        padding: 5%;
    }
}