@import "variableGlobal";
@import "fuentes";
@import "generales";
@import "nav";
@import "index";
@import "canciones";
@import "conciertos";
@import "noticias";
p {
    font-size: 1.2em;
    margin: 15px;
}

@media(min-width:768px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }
}

.historia img {
    width: 98%;
    height: auto;
    margin: 5px auto;
    padding: 10%;
}

.historia h2 {
    color: white;
    text-align: center;
    padding: 25px;
}

.historia h2:hover {
    transform: scale(3);
    transition-duration: 5s;
}

.noticias li {
    padding: 2%;
}

@import"footer";