@import "variableGlobal";
@import "fuentes";
@import "generales";
@import "nav";
@import "index";
@import "canciones";
@import "conciertos";
.subtitulos {
    color: $color;
}

.container-events {
    color: $color;
}

@media(min-width:600px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1em;
    }
    header {
        padding: 12px;
    }
    .container-footer footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container-footer h2 {
        font-size: 1.5em;
        text-align: start;
    }
    h1 {
        font-size: 4.5vw;
    }
    p {
        font-size: 3vw;
    }
    .canciones {
        display: grid;
        grid-template: repeat(10, 100px) / repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        row-gap: 40px;
    }
}

@media(min-width:768px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }
    h1 {
        font-size: 2.5vw;
    }
    p {
        font-size: 1.5vw;
    }
    .canciones h2 {
        text-align: left;
        font-size: 32px;
        margin: 1%;
    }
    audio {
        margin: 3%;
        padding: 0%;
    }
    .conciertos img {
        height: 19em;
        width: 25em;
    }
    .conciertos a {
        font-size: 1.5em;
    }
}

.noticias h2 {
    color: white;
    text-align: left;
    font-size: 30px;
    margin: 2%;
}

.noticias h3 {
    text-align: left;
    font-size: 25px;
    margin: 2%;
}

.historia img {
    width: 98%;
    height: auto;
    margin: 5px auto;
    padding: 10%;
}

.historia h2 {
    color: white;
    text-align: center;
    padding: 25px;
}

.historia h2:hover {
    transform: scale(3);
    transition-duration: 5s;
}

.noticias li {
    padding: 2%;
}

@import"footer";