@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background: rgb(115, 0, 167);
  background: radial-gradient(circle, rgb(115, 0, 167) 24%, rgb(16, 0, 69) 80%);
}
@media (min-width: 600px) {
  body {
    background: rgb(195, 124, 0);
    background: radial-gradient(circle, rgb(195, 124, 0) 21%, rgb(167, 75, 0) 73%);
  }
}
@media (min-width: 768px) {
  body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/fondo.jpg);
    background-position: center;
  }
}
body h1 {
  text-align: center;
  margin: 50px;
  font-size: 2em;
}
@media (min-width: 600px) {
  body h1 {
    font-size: 3em;
  }
}
body h2 {
  font-size: 1em;
  margin: 30px;
}
@media (min-width: 600px) {
  body h2 {
    font-size: 2em;
  }
}

header {
  background: rgb(97, 97, 97);
  background: radial-gradient(circle, rgb(97, 97, 97) 0%, rgb(0, 0, 0) 62%);
}

nav {
  padding: 15px;
  margin: 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 2.2vw;
}

header a:hover {
  color: orangered;
}

.intro {
  grid-area: intro;
}

.carouselExampleIndicators {
  grid-area: carousel;
  margin-bottom: 10px;
}
.carouselExampleIndicators .carousel-inner {
  margin-bottom: 50px;
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "intro" "carousel" "footer";
}

.song {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo-canciones.jpg);
  margin-bottom: -30%;
  background-size: 30%;
}
.song .canciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .song .canciones {
    display: grid;
    grid-template: repeat(10, 100px)/repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 40px;
  }
}
.song h2 {
  font-size: 5vw;
  color: white;
}
@media (min-width: 768px) {
  .song h2 {
    text-align: left;
    font-size: 3.5vw;
    margin: 1%;
  }
}
.song audio {
  width: 300px;
  height: 42px;
}
@media (min-width: 768px) {
  .song audio {
    margin: 3%;
    padding: 0%;
  }
}

.conciertos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conciertos h2 {
  font-size: 1.6em;
}
.conciertos img {
  margin: 10px;
  height: 10em;
  width: 15em;
}
@media (min-width: 768px) {
  .conciertos img {
    height: 25em;
    width: 32em;
  }
}
.conciertos .indicaciones {
  font-size: 24px;
}
.conciertos a {
  color: white;
  text-decoration: underline;
  font-size: 1em;
  padding: 25px;
}
@media (min-width: 600px) {
  .conciertos a {
    font-size: 1.5em;
  }
}

.noticias h2 {
  color: white;
  text-align: left;
  font-size: 2em;
  margin: 2%;
}
.noticias p {
  font-size: 1em;
  margin: 15px;
  padding: 10px;
}
.noticias .pasados {
  text-decoration: line-through;
  color: #FFC300;
}
.noticias .proximos {
  color: #FFC300;
}
.noticias h3 {
  color: #FFC300;
  text-align: left;
  font-size: 1.5em;
  margin: 2%;
}
.noticias p {
  font-size: 1.2em;
  margin: 2%;
}

p {
  font-size: 1.2em;
  margin: 15px;
}

@media (min-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
}
.historia img {
  width: 98%;
  height: auto;
  margin: 5px auto;
  padding: 10%;
}

.historia h2 {
  color: white;
  text-align: center;
  padding: 25px;
}

.historia h2:hover {
  transform: scale(3);
  transition-duration: 5s;
}

.noticias li {
  padding: 2%;
}

.container-footer {
  padding: 4px;
  margin-bottom: 0;
  background: rgb(97, 97, 97);
  background: radial-gradient(circle, rgb(97, 97, 97) 0%, rgb(0, 0, 0) 62%);
  color: white;
}
@media (min-width: 600px) {
  .container-footer h2 {
    text-align: start;
  }
}
.container-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .container-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */